:root {
  --pageFont: 'Josefin Sans', sans-serif;
  --pageFontSize: 15px;
  --pageFontNormalWeight: 400;
  --pageFontBoldWeight: 700;
  --pagePrimaryColor: hsl(220, 98%, 61%);
  --checkCirclesGradient: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --activeFontColor: #4f505c;
  --inactiveFontColor: #b1b0b4;
  --backgroundColor: #f3f3f5;
  --secondaryColor: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--pageFont);
  font-size: var(--pageFontSize);
}

body {
  min-height: 100vh;
  background-color: var(--backgroundColor);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.banner {
  width: 100%;
  height: 200px;
  background-image: url(./Resources/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.mainContainer {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}

.title {
  color: var(--secondaryColor);
  font-size: 30px;
  font-weight: var(--pageFontBoldWeight);
  letter-spacing: 10px;
}

.modeIconButton {
  border-radius: 50%;
  border: none;
  background-color: transparent;
  outline: none;
}

.modeIconButton:hover {
  cursor: pointer;
}

.input {
  width: 100%;
  height: 50px;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkButtonBorder {
  width: 25px;
  height: 25px;
  padding: 1px;
  border-radius: 50%;
  background-color: var(--inactiveFontColor);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.checkButton {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: none;
  background-color: var(--secondaryColor);
  outline: none;
}

.checkButton:hover {
  cursor: pointer;
}

.checkButtonBorder:hover {
  background-image: var(--checkCirclesGradient);
}

.createToDoInput {
  border: none;
  outline: none;
  width: 90%;
}

.toDosContainer {
  max-height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: var(--secondaryColor);
  margin: 15px 0;
}

.toDo {
  width: 100%;
  height: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--inactiveFontColor);
}

.checkButtonAndTextContainer {
  display: flex;
  align-items: center;
}

.text {
  color: var(--activeFontColor);
}

.deleteButton {
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: transparent;
  outline: none;
}

.deleteButton:hover {
  cursor: pointer;
}

.toDosFooterContainer {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.itemsLeft {
  color: var(--inactiveFontColor);
}

.navBar {
  width: 100%;
  height: 50px;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 0;
}

.clearCompletedButton {
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  color: var(--inactiveFontColor);
}

.clearCompletedButton:hover {
  cursor: pointer;
  color: var(--activeFontColor);
}

.navButton {
  color: var(--inactiveFontColor);
  border: none;
  background-color: transparent;
  outline: none;
  font-weight: var(--pageFontBoldWeight);
}

.navButton:hover {
  cursor: pointer;
  color: var(--activeFontColor);
}

@media screen and (min-width:1024px) {
  .banner {
    height: 225px;
    background-image: url(./Resources/bg-desktop-light.jpg);
  }

  .mainContainer {
    width: 40%;
  }

  .navBar {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: unset;
  }
}